:root {
    --main-brand: #1f628e;
    --light-shades: #fff9e9;
    --font: "Edu AU VIC WA NT Hand", cursive
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--light-shades) !important;
    font-family: var(--font) !important;
}

a {
    text-decoration: none !important;
    color: var(--light-shades) !important;
}

form {
    border: 1px solid var(--main-brand);
    padding: 20px;
    margin: 10px;
    width: 50%;
}

form>button {
    margin: 10px;
    background-color: var(--main-brand);
    border: none;
    padding: 8px 12px;
    border-radius: 15px;
    color: var(--light-shades);
}

input[type="radio"] {
    margin: 10px 0px;
}

/* Glassmorphism */
.glassmorphism {
    background: var(--main-brand) !important;
    box-shadow: var(--main-brand) !important;
    backdrop-filter: blur(0px) !important;
    -webkit-backdrop-filter: blur(0px) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.radius-20 {
    border-radius: 20px;
}